<%- include('partials/header') %>
    <img src="images/Mindspark.jpg" id="logo" alt="">
<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3" id="welcome">Genius Junior</h1>
    <p class="lead">Mindspark</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/users/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/users/login" role="button">Login</a>
  </div>
</div>
<%- include('partials/footer') %>
