body {
  background-color: #E8ECEF;
}

h1 {
  margin-top: 1.5rem;
}

a {
  margin: 5px;
}

.centered {
  padding-top: 5rem;
    text-align: center;
}

#welcome {
  margin: 1rem;
  padding-top: 8rem;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.logout{
  padding: 2rem;
}

#canvas {
  width: 100%;
  padding-left: 1rem;
}

#Oops {
  padding: 3rem;
}
#logo {
  position: absolute;
  width: 8rem;
  right: 2rem;
  top: 2rem;
}
#certificate {
  width: 40rem;
  align: center;
}
@media (max-width: 43.75rem) {
  a {
    margin: 5px;
  }
  #logo {
    position: absolute;
    width: 50%;
    margin-left: 32%;
    margin-right: 18%;
  }
  #canvas {
    width: 100%;
    align: center
  }
  #dashboard {
    margin-top: 55%;
  }
  #welcome{
    margin-top: 30%;
  }
}
